.btn {
    display: flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;

    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.64px;

    margin-right: auto;
    width: fit-content;

    color: var(--color-black);
    background-color: var(--color-primary);
    border-radius: 100px;
}

.btn-light {
    background-color: var(--color-white);
}

.btn:hover {
    text-decoration: none;
    color: var(--color-primary);
    background-color: var(--color-white);
}

.btn-light:hover {
    background-color: var(--color-black);
}
