.card {
    display: flex;
    align-items: center;
    gap: 32px;

    @media (width <= $breakpoint-md) {
        flex-direction: column;
    }

    .tag {
        font-size: typo(12px, 18px);
        font-weight: 300;
    }
}

.card-right {
    .card__media {
        order: 1;

        @media (width <= $breakpoint-md) {
            order: 0;
        }
    }
}

.card__media {
    width: 594px;
    height: 490px;

    display: flex;
    align-items: center;

    img {
        border-radius: 16px;
    }
}
