footer {
    background-color: var(--color-black);
    color: #8c8c8c;

    padding: 40px 0;

    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    a {
        color: #8c8c8c;
    }
    a:hover {
        text-decoration: none;
    }

    .contactez {
        font-size: 56px;
        font-weight: 300;
        line-height: 150%;
        letter-spacing: -1.12px;
    }

    .projet {
        color: var(--color-white);
        font-size: 18px;
        font-weight: 300;
        line-height: 150%;
        text-align: center;
    }

    span {
        color: var(--color-white);
        font-weight: 600;
    }
}
