header {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #000000, $alpha: 0.6);
    width: 100%;
    height: 80px;

    a {
        color: var(--color-white);
        text-transform: uppercase;
        font-weight: 600;
        font-size: typo(20px);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
