.hero {
    background: url('../../assets/images/hero.jpg') right/cover;
    height: 90vh;

    padding: 80px 0;

    .wrapper {
        height: 100%;
    }

    .hero__content {
        height: 100%;
        display: flex;
        align-items: end;

        h1 {
            text-shadow: rgba($color: #000000, $alpha: 0.25) 5px 2.5px 10px;
        }
    }
}
