/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Work Sans', monospace;

    --font-size-content: #{typo(16px, 18px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(40px, 80px)};
    --font-size-h2: #{typo(20px, 40px)};
    --font-size-h3: #{typo(12px, 16px)};
    --font-size-h4: #{typo(20px, 30px)};
}
