{% include "_partials/_header.html" %}

<section class="hero section">
    <div class="wrapper">
        <!--   <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div> -->
        <div class="hero__content">
            <h1>
                Mon cahier
                <br />
                d'exercice
            </h1>
        </div>
    </div>
</section>

<section class="labos section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <strong>laboratoires</strong>
        </h2>

        <div class="cards">
            <div class="card card-left">
                <div class="card__media">
                    <img src="assets/images/labo_sem01.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 01 - Révision</h3>
                    <p>
                        Une petite révision sur la différence entre
                        <strong>grid et flexbox</strong>
                        .
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="btn" href="https://agouin.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card card-right">
                <div class="card__media">
                    <img src="assets/images/labo_sem02.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 02 - Timtools</h3>
                    <p>
                        Labo pour apprendre comment utiliser
                        <strong>Timtools et le SCSS</strong>
                        .
                    </p>
                    <p class="tag">SCSS</p>
                    <a class="btn" href="https://agouin.dectim.ca/cours/cw3/sem02/">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card card-left">
                <div class="card__media">
                    <img src="assets/images/labo_sem03.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 03 - Porfolio Louisa Joy</h3>
                    <p>
                        Labo pour se rappeler la
                        <strong>structure HTML et les états hover</strong>
                        .
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a class="btn" href="https://agouin.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="card card-right">
                <div class="card__media">
                    <img src="assets/images/labo_sem04.png" alt="" />
                </div>
                <div class="card__content">
                    <h3>sem 04 - Icônes et classes js</h3>
                    <p>
                        Labo pour apprendre comment bien intégrer
                        <strong>les icônes avec un peu de Javascript</strong>
                        .
                    </p>
                    <p class="tag">SCSS + JAVASCRIPT</p>
                    <a class="btn" href="https://agouin.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon icon--lg">
                            <use href="#icon-chevron-right"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="reactifs section">
    <div class="wrapper">
        <h2>
            Mes
            <strong>laboratoires réactifs</strong>
        </h2>
        <div class="swiper js-swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/reactif_sem07.png" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>sem 07 - Site réactif</h3>
                        <p>
                            Labo pour apprendre comment faire
                            <strong>un site réactif</strong>
                            .
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn btn-light" href="https://agouin.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/reactif_sem07.png" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>sem 07 - Site réactif</h3>
                        <p>
                            Labo pour apprendre comment faire
                            <strong>un site réactif</strong>
                            .
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn btn-light" href="https://agouin.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/reactif_sem07.png" alt="" />
                    </div>
                    <div class="card__content">
                        <h3>sem 07 - Site réactif</h3>
                        <p>
                            Labo pour apprendre comment faire
                            <strong>un site réactif</strong>
                            .
                        </p>
                        <p class="tag">SCSS + JAVASCRIPT</p>
                        <a class="btn btn-light" href="https://agouin.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon icon--lg">
                                <use href="#icon-chevron-right"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
